SECRET_KEY='your-secret-key'
MISTRAL_MODERATION_KEY='your-moderation-key'
TELEGRAM_BOT_TOKEN='your-telegram-bot-token'
TELEGRAM_CHAT_ID='your-telegram-chat-id'
EMAIL_HOST='your-email-host'
EMAIL_PORT="your-email-port"