body {
    background-image: url('/static/img/background.webp');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ponomar", sans-serif;
    color: white;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
}

a:link {
    color: crimson;
}

a:visited {
    color: yellow;
}

.thanks {
    text-align: center;
    background-color: grey;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    text-align: center;
    font-size: 12pt;
}



main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer > p {
    text-align: center;
    font-size: 10pt;
    margin: 5px 0;
}

.ponomar-regular {
  font-family: "Ponomar", system-ui;
  font-weight: 400;
  font-style: normal;
}

.master-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}
.master-card>p {
    margin: 5px;
}

.order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: dimgray;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.order-card>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.order-card>div>li>strong {
    color: yellow;
}

#about_us {
    background-color: black;
    border-radius: 10px;
    color: yellow;
    padding: 20px;
}

.make_appointment_btn {
    background-color: gold;
    color: black;
    width: 300px;
    border: none;
    padding: 10px 20px;
    margin: 100px 0px 100px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16pt;
    transition: background-color 0.3s ease;
}

h1 {
    color: yellow;
}

section {
    margin-bottom: 50px;
}