<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landing' %}#">Барбершоп "Горшок"</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'landing' %}#about_us">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'landing' %}#masters">Наши мастера</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'landing' %}#reviews">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'landing' %}#services_list">Наши услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'landing' %}#contacts">Наши контакты</a>
        </li>
      </ul>
      
      {% if request.user.is_staff %}
      <div class="d-flex gap-2 mx-2" >
        <a class="btn btn-outline-warning" href="{% url 'orders_list' %}">Все заявки</a>
    
      </div>
      {% endif %}
      {% if request.user.is_superuser %}
        <div class="d-flex gap-2 mx-2">
        <a class="btn btn-outline-warning" href="{% url 'admin:index' %}">Админка</a>
        </div>
      {% endif %}
      <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
              <li class="nav-item">
                  <span class="nav-link">Привет, {{ user.username }}!</span>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
              </li>
              <li class="nav-item">
                {% comment %} <a href="{% url 'logout_confirm' %}" class="btn btn-dark btn-outline-warning mt-1">Выход</a> {% endcomment %}
                <form action="{% url 'logout' %}" method="post" id="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning mt-1" id="logout-btn">Выйти</button>
                </form>
              </li>
          {% else %}
            {% if request.path != '/users/login/' and request.path != '/users/register/' %}
              <form class="d-flex flex-lg-row flex-column gap-2" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ login_form.username }}
                {{ login_form.password }}
                <button type="submit" class="btn btn-sm btn-warning me-2">Войти</button>
                <a href="{% url 'register' %}" class="btn btn-sm btn-outline-light">Регистрация</a>
              </form>
            {% endif %}
          {% endif %}
      </ul>
    </div>
  </div>
</nav>