<div class="container order-card ">
    <div class="card-header">
        <h2>Детали заказа:</h2>
    </div>
    <div class="card-body text-start">
        <li><strong>Номер заказа:</strong> {{order.id}} </li>
        <li><strong>Имя клиента:</strong> {{order.client_name}} </li>
        <li><strong>Телефон:</strong> {{order.phone}} </li>
        <li><strong>Услуги:</strong>
            {% for service in order.services.all %}
                {{ service.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %} </li>
        <li>
            <strong>Мастер:</strong>
             {% if order.master %}
                <a href="{% url "master_detail" order.master.id %}">{{ order.master.name }}</a>
            {% else %}
                Мастер не назначен
            {% endif %} 
        </li>
        <li><strong>Дата:</strong> <i class="bi bi-calendar-event"></i> {{order.appointment_date}} </li>
        <li><strong>Статус:</strong> 
            {% if order.status == 'not_approved' %}
                <span class="badge bg-primary">Новая</span>
            {% elif order.status == 'approved' %}
                <span class="badge bg-success">Подтверждённая</span>
            {% elif order.status == 'in_progress' %}
                <span class="badge bg-warning">В процессе</span>
            {% elif order.status == 'canceled' %}
                <span class="badge bg-danger">Отменённая</span>
            {% elif order.status == 'done' %}
                <span class="badge bg-info">Выполненная</span>
            {% else %}
                <span class="badge bg-secondary">Неизвестный статус</span>
            {% endif %}
        </li>
    </div>

    <a href="{% url 'orders_list' %}">Назад</a>
</div>