{%extends "base.html" %}
{% load static %}
{% block content %}
    <div class="card">
        <h4 class="card-tile">
            Наши контакты:
        </h4>
        <div class="card-body">
            <p class="card-text">
                <i class="bi bi-house"></i> Адрес: г. Москва, Пампуш на Твербуле.
                <br>
                <i class="bi bi-telephone"></i> Телефон: +7 (999) 999-99-99
                <br>
                <i class="bi bi-envelope"></i> Email: barbershop@gmail.com
                <br>
                <i class="bi bi-telegram"></i> Telegram: @barbershop
                <br>
                <i class="bi bi-clock"></i> Время работы: Пн-Пт: 10:00 - 20:00
                <br>
                <i class="bi bi-clock"></i> Сб-Вс: 10:00 - 18:00
                <br>


            </p>
        </div>
    </div>
{% endblock content %}

