<nav aria-label="breadcrumb">
    <p>Навигация</p>
    <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={% url 'landing'%}>Главная</a></li>
        <li class="breadcrumb-item"><a href={% url 'orders_list'%}>Все заявки</a></li>
        <li class="breadcrumb-item"><a href={% url "masters" %}>Наши мастера</a></li>
        <li class="breadcrumb-item"><a href={% url 'services_list' %}>Наши услуги</a></li>    
        <li class="breadcrumb-item"><a href= {% url 'contacts' %} >Наши контакты</a></li>
    </ol>
    </div>
</nav>