{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h2 class="mb-4">Наши услуги</h2>
            <table class="table table-striped table-hover" >
                <thead>
                    <tr>
                        <th scope="col">Услуга</th>
                        <th scope="col">Цена (руб.)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <a href="{% url 'landing' %}">Вернуться на главную</a>

    </div>
{% endblock content %}